<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${titleName}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div>
    <h3>Edit user:</h3>
</div>
<div>
    <h4 th:text="${param.error}"/>
</div>
<div th:each="el : ${user}">
    <form th:action="'/profile/edit/'" method="post">

        <h4>Name:</h4>
        <input type="text" name="name" placeholder="Enter new name" th:value="${el.name}">
        <h4>Password:</h4>
        <input type="password" name="password" placeholder="Enter new password" th:value="${el.password}">
        <h4>Confirm password:</h4>
        <input type="password" name="confirm_password" placeholder="Confirm your password"/>
        <button type="submit">Save</button>
    </form><br>
</div>
</body>
</html>