<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${titleName}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div>
    <h4 th:text="${error}"/>
</div>
<div th:each="el : ${product}">
    <h3 th:text="${el.name}"/>
    <form th:action="'/profile/to-basket/'+${el.id}" method="post">
        <button type="submit">Add to basket</button>
    </form>
    <h2 th:text="'$'+${el.price}"></h2>
    <h4>Characteristics:</h4>
    <h4 th:text="${el.charact}"/><br>
</div>
</body>
</html>