<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div class="alert alert-info mt-2">
        <h3 th:text="'Username: '+${username}" />
        <h4 th:text="'Balance:'+${balance} + '$'"/>
        <h4 th:if="${isActive}">Active</h4>
        <a th:href="'/profile/'+${username}+'/signout'" class="btn btn-success">Sign out</a>
    </div>
</div>
</body>
</html>