<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div>
    <h3>Registration</h3>
</div>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
    <form action="/registration" method="post">
    <div>
        <label> Username: <input type="text" name="username"/> </label>
    </div>
    <div>
        <label> Password: <input type="password" name="password"/> </label>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Register</button>
    </div>
</form>
</body>
</html>