<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Add</h1>
    <form action="/shop/addProduct" method="post">
        <p>Name:</p>
        <input type="text" name="name" placeholder="Enter name of the product" class="form-control"><br>
        <p>Price, $:</p>
        <input type="text" name="price" placeholder="Enter price of the product" class="form-control"><br>
        <p>Description:</p>
        <textarea type="text" name="description" placeholder="Enter description of the product" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>
</body>
</html>