<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    <div class="container mt-5">
        <h1>Shop</h1>
        <div th:each="el : ${products}" class="alert alert-info mt-2">
            <h4 th:text="${el.name}" />
            <h2 th:text="${el.price} + '$'"/>
            <a th:href="'/shop/'+${el.id}" class="btn btn-warning">Details</a>
        </div>
    </div>
</body>
</html>